@model CarDealarship.UI.Models.EditUserViewModel
@{
    ViewBag.Title = "EditUser";
}

<h2>EditUser</h2>
<div class="row">
    <div class="addUser">
        @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(i => i.User.Id);
            <div class="col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">First Name</label>
                        @Html.TextBoxFor(f => f.User.FirstName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Last Name</label>
                        @Html.TextBoxFor(l => l.User.LastName, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Email</label>
                        @Html.TextBoxFor(e => e.User.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Role</label>
                        @Html.DropDownListFor(r => r.Role, Model.RoleItems, "-choose role-", new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessageFor(r => r.Role)</span>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Password</label>
                        @Html.TextBoxFor(p => p.Password, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessageFor(p => p.Password)</span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Confirm Password</label>
                        @Html.TextBoxFor(c => c.ConfirmPassword, new { @class = "form-control" })
                        <span class="text-danger">@Html.ValidationMessageFor(c => c.ConfirmPassword)</span>
                        @Html.ValidationMessage("Custome Error")
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon"></span>Save</button>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

