@model CarDealarship.UI.Models.ChangePasswordVMs
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label>Old Password</label>
                @Html.PasswordFor(p => p.OldPassword, new { @class = "form-control", style = "width:400px", placeholder = "Old Password" })
                <span class="text-danger">@Html.ValidationMessageFor(p => p.OldPassword)</span>
                <br />

                <label>New Password</label>
                @Html.PasswordFor(p => p.NewPassword, new { @class = "form-control", style = "width:400px", placeholder = "New Password" })
                <span class="text-danger">@Html.ValidationMessageFor(p => p.NewPassword)</span>
                <br />
                <label>Confirm New Password</label>
                @Html.PasswordFor(p => p.NewPasswordConfirm, new { @class = "form-control", style = "width:400px", placeholder = "Confirm New Password" })
                <span class="text-danger">@Html.ValidationMessageFor(p => p.NewPasswordConfirm)</span>
                <br />
                <button type="submit" class="btn btn-md btn-primary">Save</button>&nbsp;&nbsp;
                <br />

                <br />
            </div>
        }
    </div>
</div>

